@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(90deg, #c29008, #087d9b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    font-family: inherit;
    background-color: #fff;
    border: none;
    font-size: 1.4em;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #087d9b;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 1.4em;
    font-family: inherit;
    transition: transform 0.3s ease;
}

.input:focus, .btn:focus{
    outline: none;
}

.search.active .input{
    width: 215px;
}

.search.active .btn{
    transform: translateX(220px);
}